.create_todo_button {
    background: #00bbff;
    font-size: 25px;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.5s ease;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;

    &:hover {
        background: #40ccff;
        transform: rotate(180deg);
    }
}